{% extends 'reg/base.html' %}

{% block title %}Информация о партнере{% endblock %}

{% block content %}

<div>
    <div class="event">
        <div class="center-image">
            <img src="{{ partner.main_image.url }}">
        </div>

        <span>
            <p>{{ partner.name }}</p>
            <p>{{ partner.description }}</p>
        </span>
    </div>
    {% if user.is_superuser %}
        <a href="{% url 'partners:delete' partner.pk %}">Удалить</a>
        <a href="{% url 'partners:edit_partner' partner.pk %}">Редактировать</a>
    {% endif %}
</div>

{% if images %}
    <div>
        <h2>Дополнительные изображения</h2>
        <div style="display: flex; flex-wrap: wrap;">
            {% for image in images %}
                <div style="margin: 10px;">
                    <img src="{{ image.image.url }}" alt="{{ product.name }}" style="max-width: 200px;">
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>Дополнительных изображений нет.</p>
{% endif %}


{% endblock %}