{% extends 'reg/base.html' %}

{% block title %}Редактирование партнера{% endblock %}

{% block content %}
    <h1>Редактирование партнёра: {{ partner.name }}</h1>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Основная форма -->
        <div>
            {{ form.as_p }}
        </div>

        <!-- Форма для дополнительных изображений -->
        <h2>Дополнительные изображения</h2>
        {{ formset.management_form }}
        {% for image_form in formset %}
            <div>
                {{ image_form.as_p }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

{% endblock %}