{% extends 'reg/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div>
    <div>
        Новые
        {% for i in new_events %}
            <div>
                <img src="{{ i.image.url }}">
                {{ i.title }}
            </div>
        {% endfor %}
    </div>

    <div>
        Уже скоро
        {% for i in active_events %}
            <div>
                <img src="{{ i.image.url }}">
                {{ i.title }}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}