{% extends 'reg/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<body>
    <h1>Новые</h1>
    <ul class="products">
        {% for i in new_events %}
            <li class="product-wrapper">
                <a href="{% url 'event:info_event' i.pk %}">
                    <span>
                        {{ i.title }}
                    </span>

                    <div class="product-photo">
                        <img src="{{ i.image.url }}" alt="">
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}