{% extends 'reg/base.html' %}

{% block title %}Мои созданные мероприятия{% endblock %}

{% block content %}

<body>
    <ul class="products">
        {% for i in events %}
        <a href="{% url 'event:info_event' i.pk %}">
            <li class="product-wrapper">
                <div class="product-photo">
                    <img src="{{ i.image.url }}">
                </div>

                <span>
                    {{ i.title }}
                </span>
            </li>
        </a>
        {% endfor %}
    </ul>
</body>

{% endblock %}