{% extends 'reg/base.html' %}

{% block title %}Мои созданные мероприятия{% endblock %}

{% block content %}

<body>
    <ul class="products">
        {% for i in events %}
            <li class="product-wrapper">
                <a href="{% url 'event:info_event' i.pk %}">
                    <div class="product-photo">
                        <img src="{{ i.image.url }}">
                    </div>

                    <span>
                        {{ i.title }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}