{% extends 'reg/base.html' %}

{% block title %}Мои мероприятия пользователя{% endblock %}

{% block content %}

<body>
    <ul class="products">
        {% for i in Myevents %}
            <li class="product-wrapper">
                <a href="{% url 'event:info_event' i.event.pk %}">
                    <div class="product-photo">
                        <img src="{{ i.event.image.url }}">
                    </div>

                    <span>
                        {{ i.event.title }}
                    </span>

                </a>
            </li>
        {% endfor %}
    </ul>
</body>


{% endblock %}