{% extends 'reg/base.html' %}

{% block title %}Мои мероприятия пользователя{% endblock %}

{% block content %}

<body>
    <ul class="products">
        {% for i in Myevents %}
        <a href="{% url 'event:info_event' i.pk %}">
            <li class="product-wrapper">
                <div class="product-photo">
                    <img src="{{ i.event.image.url }}">
                </div>

                <span>
                    {{ i.event.title }}
                </span>
            </li>
        </a>
        {% endfor %}
    </ul>
</body>


{% endblock %}