{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Elka</title>
</head>

<div id="wrap">
<header class="header">
    <!-- Добавляем контейнер -->
    <div class="container">
      <!-- Добавляем внутреннюю обёртку для выравнивания логотипа и меню -->
      <div class="header__inner">
        <!-- Создаём логотип сайта -->
        <img class="logo" src="/static/logo.png"></a>
        <!-- С помощью списка создаём навигационное меню -->
        <nav class="menu">
            <div class="nav_button">
                <a href="{% url 'reg:logout' %}" class="nav_button-link">
                    Мои события
                </a>
            </div>

            <div class="nav_button">
                <a href="{% url 'reg:logout' %}" class="nav_button-link">
                    Доступные события 
                </a>
            </div>

            <div class="nav_button">
                <a href="{% url 'reg:logout' %}" class="nav_button-link">
                    Календарь
                </a>
            </div>

            <div class="nav_button">
                <a href="{% url 'event:new_event' %}" class="nav_button-link">
                    Новое событие
                </a>
            </div>
        </nav>

        <nav class="auth">
            {% if request.user.is_authenticated %}
                <div class="login_button">
                    <a href="{% url 'reg:logout' %}" class="login_button">
                        Logout
                    </a>
                </div>
            {% else %}
                <div class="login_button">
                    <a href="{% url 'reg:signup' %}" class="login_button">
                        Sign up
                    </a>
                </div>

                <div class="login_button">
                    <a href="{% url 'reg:login' %}" class="login_button">
                        Log in
                    </a>
                </div>
            {% endif %}
        </nav>
      </div>
    </div>
  </header>

{% block content %} 
<!-- # ВОТ ТУТ БЛОК КОНТЕНТ И ЕНД БЛОК. ОН ПЕРЕНОСИТ РАЗМЕТКУ ИЗ ОСТАЛЬНЫХ ФАЙЛОВ СЮДА И ПОЛУЧАЕТСЯ ЧТО РАЗМЕТКА НАХОДИТСЯ МЕЖДУ ШАПКОЙ И ПОДВАЛОМ -->
{% endblock %}
</div>

  <footer>
    <p>Содержимое подвала</p>
  </footer>

